<mat-card>

  <mat-card-title>{{ selectedContactTitleText }}</mat-card-title>

  <form [formGroup]="editContact" (submit)="onSubmitContact(editContact)">

    <mat-form-field>
      <mat-label>{{ firstNameLabel }}</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ lastNameLabel }}</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ emailLabel }}</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ phoneLabel }}</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
  
    <mat-slide-toggle
      formControlName="status"
      [labelPosition]="'before'">
      {{ statusLabel }}
    </mat-slide-toggle>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{ roleLabel }}</mat-label>
      <input matInput formControlName="role">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ organizationLabel }}</mat-label>
      <input matInput formControlName="organization">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="editContact.pristine">Save</button>

  </form>

  <pre>Form value: {{ editContact.value | json }}</pre>

</mat-card>