<mat-card>
  <mat-card-title>Selected Contact</mat-card-title>
    <app-field-edit [labelText]="firstNameLabel" [fieldText]="firstName"></app-field-edit>
    <app-field-edit [labelText]="lastNameLabel" [fieldText]="lastName"></app-field-edit>
    <app-field-edit [labelText]="emailLabel" [fieldText]="email"></app-field-edit>
    <app-field-edit [labelText]="phoneLabel" [fieldText]="phone"></app-field-edit>
    <app-status-toggle [status]="status"></app-status-toggle>
    <mat-divider></mat-divider>
    <p>Role: {{ role }}</p>
    <p>Organization: {{ organization }}</p>
</mat-card>