<mat-sidenav-container (backdropClick)="routeToContactList()">
  <mat-sidenav position="end" mode="over"
    [opened]="firstName$ | async">
    <app-contact *ngIf="firstName$ | async"
      [firstNameLabel]="firstNameLabel" [firstName]="firstName$ | async"
      [firstNameLabel]="firstNameLabel" [lastName]="lastName$ | async"
      [firstNameLabel]="firstNameLabel" [email]="email$ | async"
      [firstNameLabel]="firstNameLabel" [role]="role$ | async"
      [firstNameLabel]="firstNameLabel" [organization]="organization$ | async"
      [firstNameLabel]="firstNameLabel" [phone]="phone$ | async"
      [firstNameLabel]="firstNameLabel" [status]="status$ | async">
    </app-contact>
  </mat-sidenav>
  <div class="app-container">
    <app-contacts-table *ngIf="contacts$ | async"
      [pageEvent]="pageEvent"
      [displayedColumns]="displayedColumns"
      [contacts]="contacts$ | async"
      (showContact)="getContact($event)"
      (routeToPage)="getPage($event)">
    </app-contacts-table>
  </div>
</mat-sidenav-container>