
<mat-card>
  <mat-card-title>Tooltip Testing</mat-card-title>
  <mat-card-subtitle>with responsive breakpoints</mat-card-subtitle>
  <div style="display: flex;">
    <div style="padding: 5px;">
      <h3>Truncate Start</h3>
      <div><span [matTooltip]="id" [matTooltipPosition]="tooltipPosition" [matTooltipDisabled]="!isTabletScreen">{{ isTabletScreen ? (id | truncate:'start') : id}}</span></div>
    </div>
    <div style="padding: 5px;">
      <h3>Truncate middle</h3>
      <div><span [matTooltip]="id" [matTooltipPosition]="tooltipPosition" [matTooltipDisabled]="!isTabletScreen">{{ isTabletScreen ? (id | truncate:'middle') : id}}</span></div>
    </div>
    <div style="padding: 5px;">
      <h3>Truncate End</h3>
      <div><span [matTooltip]="id" [matTooltipPosition]="tooltipPosition" [matTooltipDisabled]="!isTabletScreen">{{ isTabletScreen ? (id | truncate:'end') : id}}</span></div>
    </div>
  </div>
    <mat-card-footer style="padding: 10px;">
      <mat-checkbox [(ngModel)]="isTabletScreen">Tooltip &amp; Truncate active</mat-checkbox>
    </mat-card-footer>
</mat-card>
