<mat-card class="mar-bottom-lg">
    <mat-card-title>NgRx Testing</mat-card-title>
    <mat-card-subtitle>with router invoking reducer</mat-card-subtitle>
    <div class="pad-sm">
      <span>Number: {{ count$ | async }}</span>
    </div>
    <div style="display: flex; align-items: baseline;">
      <div class="pad-sm">
        <button mat-raised-button (click)="changeNumber('up')">Increment</button>
      </div>
      <div class="pad-sm">
          <button mat-raised-button (click)="changeNumber('down')">Decrement</button>
      </div>
      <div class="pad-sm">
          <button mat-raised-button (click)="reset()">Reset</button>
      </div>
    </div>
  </mat-card>