<div class="app-container">
  <mat-card>
    <mat-card-title>Using Spread and Rest operators for immutable data manipulation</mat-card-title>
    <mat-card-content>See <a target="_blank" href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-1.html#object-spread-and-rest">TypeScript docs</a></mat-card-content>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Shallow copy with spread</mat-expansion-panel-header>
      <h3>Code</h3>
      <pre>
  const copy = {{ '{ ...this.initialPayload }' }};
      </pre>
      <h3>Output</h3>
      <pre> {{ copiedPayload | json }} </pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Returning new filtered objects with rest</mat-expansion-panel-header>
      <h3>Code</h3>
      <pre>
  const {{ '{ cars, ...brandsOnly}' }} = this.initialPayload;
      </pre>
      <h3>Output</h3>
      <pre> {{ brands | json }} </pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Merge objects</mat-expansion-panel-header>
      <h3>Code</h3>
      <pre>
  const withMotorcyles = {{ '{ ...this.initialPayload, ...this.motorcycles }' }};
      </pre>
      <h3>Output</h3>
      <pre> {{ newWithMotorcycles | json }} </pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Add new car object to nested cars array</mat-expansion-panel-header>
      <h3>Code</h3>
      <pre>
  // use object and array spread to add a new array item to an array nested in an object
  const addNewCar = {{ '{ ...this.initialPayload, cars: [ ...this.initialPayload.cars, this.newCar ] }' }};
      </pre>
      <h3>Output</h3>
      <pre> {{ newCarAdded | json }} </pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Add 'Audi' to brands</mat-expansion-panel-header>
      <h3>Code</h3>
      <pre>
  // use object and array spread to add a new array item to an array nested in an object
  const addNewBrand = {{ '{ ...this.initialPayload, brands: [ ...this.initialPayload.brands, this.newBrand ] }' }};
      </pre>
      <h3>Output</h3>
      <pre> {{ newBrandAdded | json }} </pre>
    </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Change 'brands' property to 'carBrands'</mat-expansion-panel-header>
        <h3>Code</h3>
        <pre>
  // first, add new 'carBrands' object and copy the array from 'brands'
  const addCarBrands = {{ '{ ...this.initialPayload, carBrands: [ ...this.initialPayload.brands ] }' }};
  // second, pull out brands and assign the rest to allExceptBrands
  const {{ '{ brands: theBrands, ...allExceptBrands ' }} = addCarBrands;
        </pre>
        <h3>Output</h3>
        <pre> {{ newChangedToCarBrands | json }} </pre>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Add a new color to BMW colors array</mat-expansion-panel-header>
        <h3>Code</h3>
        <pre>
  const {{ '{ cars: theCars }' }} = this.initialPayload; // grab cars array
  const [ bmw, ...withoutBmw ] = theCars; // bmw and the rest assignment
  const bmwWithBlue =  {{ '{ ...bmw, colors: [ ...bmw.colors, "blue" ] }' }}; // new bmw object with blue color addded
  const newCars [ bmwWithBlue, ...withoutBmw ]; // merge new cars array
  const addNewColor = {{ '{ ...this.initialPayload, cars: newCars }' }}; // add new cars array
        </pre>
        <h3>Output</h3>
        <pre> {{ newColorAdded | json }} </pre>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Add a new color to Jeep colors array</mat-expansion-panel-header>
        <h3>Code</h3>
        <pre>
  const carsObj = {{ '{ ...theCars }' }}; // transform cars array into object with object keys
  const {{ '{ "4": jeep, ...withoutJeep }' }} = carsObj; // jeep and the rest assignment
  const withoutJeepArray = Object.keys(withoutJeep).map(x => withoutJeep[x]); // turn back into array
  const jeepWithArmyGreen =  {{ '{ ...jeep, colors: [ ...jeep.colors, "army green" ] }' }}; // new jeep object with army green color addded
  const carsWithNewJeepColor = [ ...withoutJeepArray, jeepWithArmyGreen ]; // merge new cars array
  const addNewJeepColor = {{ '{ ...this.initialPayload, cars: carsWithNewJeepColor }' }}; // add new cars array
        </pre>
        <h3>Output</h3>
        <pre> {{ newJeepColorAdded | json }} </pre>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Replace 'red' with 'saphire' in Ford Fiesta colors array</mat-expansion-panel-header>
        <h3>Code</h3>
        <pre>
  const fordArray = theCars.filter(x => x.make === 'Ford'); // array with ford car object
  const withoutFordArray = theCars.filter(x => x.make !== 'Ford');
  const {{ '{ [0]: ford }' }} = fordArray; // pull out ford object
  const {{ '{ colors }' }} = ford; // pull out colors array
  const withoutRed = colors.filter(x => x !== 'red'); // make new colors array without 'red'
  const withNewSaphireColor = {{ '{ ...ford, colors: ["saphire", ...withoutRed] }' }}; // add new 'saphire' color
  const carsWithNewFordColor = [ ...withoutFordArray, withNewSaphireColor ]; // merge new cars array
  const addNewFordColor = {{ '{ ...this.initialPayload, cars: carsWithNewFordColor }' }}; // add new cars array
        </pre>
        <h3>Output</h3>
        <pre> {{ newFordColorAdded | json }} </pre>
      </mat-expansion-panel>
  
  </mat-accordion>
</div>
