<div class="app-container">
  <mat-card style="margin-bottom: 30px;">
    <mat-card-title>Issues and Pull Requests</mat-card-title>
    <!-- <button mat-raised-button (click)="onPageChange(pageEvent.pageIndex)">Next page</button> -->
    <mat-card>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <mat-table #table [dataSource]="issues" *ngIf="(issuesStore.issues$ | async) as issues; else loading">
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
          <mat-cell *matCellDef="let issue"> {{issue.number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell *matCellDef="let issue"> {{issue.user.login}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let issue"> {{issue.title}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let issue"> {{issue.created_at | date}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
      </mat-table>
    
      <mat-paginator 
        (page)="onPageChange($event)"
        [length]="pageEvent.length"
        [pageSize]="pageEvent.pageSize">
      </mat-paginator>
    
    </mat-card>
  </mat-card>
</div>
